.navigation {
  display: flex;
  justify-content: center;
  align-items: start;

  @include respond(large) {
    justify-content: flex-end;
    align-items: center;
  }

  &__button {
    margin-top: 2.4rem;
    border: none;
    cursor: pointer;
    height: 4rem;
    background-color: transparent;

    @include respond(large) {
      margin-top: 0;
      margin-left: 2.4rem;
    }
  }

  &__btn {
    width: 4rem;
    height: 0.2rem;
    background-color: white;
    display: block;
    line-height: 0;

    &::before,
    &::after {
      content: "";
      width: 4rem;
      height: 0.2rem;
      background-color: white;
      display: block;
    }

    &::before {
      transform: translateY(-1.5rem);
    }

    &::after {
      transform: translateY(1.3rem);
    }

    @include respond(large) {
      &::before {
        transform: translateY(-1.2rem);
      }

      &::after {
        transform: translateY(1rem);
      }
    }
  }
}
